<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>We are sorry that the following trip was cancelled.</h1>

    <p>Departure Point: <%= @trip.departure_point %></p>
    <p>Destination: <%= @trip.destination %></p>
    <p>Departure Time: <%= @trip.departure_time %></p>
    <p>Price: <%= @trip.price %></p>

    <br>
    <p>The total price of the trip will be added to your wallet</p>
  </body>
</html>
